.footer {
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #E3BE60 0% 0% no-repeat padding-box;
    opacity: 1;
    color: white;
    text-align: center;
    height: 60px;
   display:inline-flex;

   overflow: hidden;
 
 
  }
.row{
margin-top: 20px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   

}
.column1{
    width: 120px;
    height: 28px;
    margin-left: 100px;
}


  .s {
 
 margin-right: 100px;
    float: right;
    width: 232px;
    height: 12px;
   
}
  

.column3{
float: right;
margin-right: 100px;
margin-left: 350px;
font-family: 'Ubuntu', sans-serif !important;
}