*{
    overflow: hidden;

     
}



.stepper{
    background-color: red !important;
    color: red !important;
}


body{
    margin: 0;
    padding: 0;
}

.text-bottom{
    font-family :Ubuntu
    16px;
    text-align: center;
letter-spacing: 0.4px;
opacity: 1;
color:#30373A;
text-align: left;
margin-top: 29px;

}
.text-bottom h1{
    font-size:16px;
}

.mat-dialog{
    background: #aa2929 0% 0% no-repeat padding-box;
    
 }

.text-center{
 margin-top: 20px;
text-align: center;
letter-spacing: 0px;
color: #30373A;
opacity: 1;
font-size:22px;


}


.hr{
    margin-left: 20px;
    width: 520px;
    background: #000000 0% 0% no-repeat padding-box;
    margin-top: 13.5px;
    opacity: 0.8;
}


.container1{
    background: #b3b3b3 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 20px;
    width:250px;
    height: 80px;
}

.flex{
margin-left: 20px;
display: flex;
gap: 10px;
max-width: 700px;
}

.container2{
    background: #cfcfcf 0% 0% no-repeat padding-box;
    box-shadow: 0px  #00000029;
    border-radius: 20px;
    width:250px;
    height: 80px;
}

.container2 .text-center{
margin-top: 20px;
padding: 3px;
font-weight: 600;

}

.mat-card{
width: 510px;
height: 320px;
 display: inline-block;
 position:relative;
 overflow: hidden;
}

.partInfo{
text-align: left;
font: normal normal medium 12px/31px Ubuntu;
font-family: 'Ubuntu', sans-serif !important;
letter-spacing: 0.3px;
color: #30373A;
opacity: 1;
}


.container3{

height: 65px;
/* border:1px solid black; */
}

.button{
    width: 165px;
    
border-radius: 20px;
background-color: #E3BE60;
display: inline-block;
position: relative;
text-align: center;
font-size: 16px bold;
margin-left: 20px;
padding: 2px;
font: normal normal bold 16px/18px Ubuntu;
letter-spacing: 0px;

opacity: 1;
}

.flex1{
    display: flex;
    flex-direction: row;
    margin-top: 9px;
 
}

.counter{
    font-size:29px;
}
.button1{
    width: 165px;
    height: 40px;
    border-radius: 20px;
    background-color: #CCCCCC;
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 16px bold;
    margin-left: 105px;
font: normal normal bold 16px/18px Ubuntu;
letter-spacing: 0px;
opacity: 1;
}
.button10{
    width: 165px;
    height: 40px;
    border-radius: 20px;
    background-color: #CCCCCC;
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 16px bold;
    margin-left: 180px;
font: normal normal bold 16px/18px Ubuntu;
letter-spacing: 0px;
opacity: 1;
}
.title{
font-weight: 700;
}
.titleOrdine h1{
text-align: center;
font: normal normal medium 16px/31px Ubuntu;
letter-spacing: 0.4px;
color: #999999;
text-transform: uppercase;
opacity: 1;
margin-top: 28px;

}

.hr1{
border: 1px solid #D9D9D9;
opacity: 1;
margin-top: 20px;
color: #D9D9D9;
}


.mat-select{
margin-left: 125px;
margin-top: 10px;
width:281px;
height: 40;
text-align: center;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 20px 20px 0px 0px;
opacity: 1;
padding: 2px;
}

.condizioni{
    color: #30373A ;
    font: bold;
}

.button3{
margin-left: 10px;
margin-right: 19px;
background: #00000029 0% 0% no-repeat padding-box;
border-radius: 80px;
opacity: 1;
border: none;
}

.input1{
    border: none;
    width: 36px;
    height:32px;
    font-size:29px;
    }



    .container4{
margin-top: 12px;
width:281px;
 height: 81px;
 background: #E3BE60 0% 0% no-repeat padding-box;
 border-radius: 20px;
opacity: 1;
 margin-left: 125px;
}

    .flex2{
        display: flex;
        flex-direction: column;
        text-align: center;
        color:#FFFFFF;

      
   
    }
    .flex2 h1{
        font-size:16 px;
        font-weight: 500;
    }

    .container5{
margin:0;
        margin-left: 5px;
        background-color: #f0fbff;
        /* background-image: url(/src/assets/images/Stripe-Logo.png) ; */
        background-repeat: no-repeat; 
        height:100%;
        width:100%; 
         width: 500px;
height: 270px;
border: #ededed solid;
margin-top: 10px;
border-radius: 10px;
opacity: 1; 
    }


.text-center1{
color:#999999;
text-align: center;
margin-bottom: 12px;
}

.form-control{
    background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 80px;
opacity: 1;
}

.flex3{
    display: flex;
    flex-direction: row;
  margin-top: 10px;
}

/* .this is for stripe : */





.btn-warning{
    margin-top: 5px;
    width: 165px;
    height: 40px;
    border-radius: 20px;
    background-color: #E3BE60 ;
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 16px bold;
    margin-left: 175px;
font: normal normal bold 16px/18px Ubuntu;
letter-spacing: 0px;
opacity: 1;
}


body{
    margin: 0;
    padding: 0;
}


.container6{

    margin:0;
	
        
    
  
  

    

    height:100%;
    width:100%; 
     width: 500px;
height: 50px;






/* background: #FFFFFF 0% 0% no-repeat padding-box; */
border-radius: 10px;
opacity: 1; 
}
.input{
    border:none;
    width: 200px;
    box-shadow: whitesmoke;
}

.stripe-card{
    margin-top: 50px;
}
.image{
    width:250px;
    height: 80px;
    border-radius: 20px;
    text-align: center;  
    opacity: 1;
  flex-direction: row;
  text-align: center;
  position:relative;
  border: 3px solid #E3BE60;

  }
.btn{
    margin-left: 180px;
    margin-top: 40px;
    width: 150px;
}


/* baraye bare 2 az stripe */

.field{
    margin-top: 20px;
    width:500px
}