body{
    margin: 0;
    padding: 0;
}


.container{

    margin:0;
	
        
    
    
    /* background-image: url(/src/assets/images/Stripe-Logo.png) ; */

    background-repeat: no-repeat; 
   
  

    

    height:100%;
    width:100%; 
     width: 500px;
height: 220px;

border: #ededed solid;




/* background: #FFFFFF 0% 0% no-repeat padding-box; */
border-radius: 10px;
opacity: 1; 
}
.input{
    border:none;
    width: 200px;
    box-shadow: whitesmoke;
}

.stripe-card{
    margin-top: 50px;
}

.btn{
    margin-top: 50px;
    width: 150px;
}