<div class="container">

    <form class="example-form" id="example1">
              <mat-form-field class="example-full-width-centered">
              <span matPrefix> </span>
              <input id="search" type="tel" matInput placeholder="Search" name= "search" >
              <button matSuffix mat-button><mat-icon >search</mat-icon></button>
              </mat-form-field>
              <br/>
  
              </form>
      
     <div class="example">
          <a href="" class="box" >  </a>
          
        
            
            </div>
     
  </div>