.container{
    width: 700px;
    height: 400px;
    /* border:3px solid  rgb(90, 90, 90); */
    color:whitesmoke;
    
    color: red;
    margin-top: 200px;
    }

    .box{
        padding: 1px;
        /* margin-top: 10px; */
        margin-left: 4px;
        border:2px solid  rgb(111, 111, 111);
        border-radius: 20%;
        text-decoration: none;
        text-align: center;
        background-color: rgb(44, 44, 44);
        /* display: grid; */
        width: 120px;
        height: 100px;
        grid-template-columns: 3;
        /* display: flex; */
        
        align-items: baseline;
        text-decoration: none;
        color:rgb(177, 177, 177);
          
        }

        .example-full-width-centered{
            color: rgb(255, 0, 0);
            size: 40px;
        }
        
        a{
            padding: 3px;
            /* margin-top: 50px;
            margin-left: 10px; */
               font-size: 24px;
               display: block;
               text-align: center;
               text-decoration-style: wavy;
             
           }

        
        .example{
            display: inline-flex;
            
          padding: 10px;
            margin: 3px;
           
        
        }

.example :hover{
    color:red;

}