
<div class="flex">
<div class="playertitle">
    <h1 class="text-center" *ngFor="let item of PlayerList">
      <!-- {{item.shortName}} -->
      <img [src]="'https://localhost:7098/Player/GetImageOfPlayer?PlayerId='+item.id" 
      class="image" >
    </h1>
   </div>
 <div id="material">
   <a routerLink="/categorypage"> <i class="material-icons" >  close</i></a> 
 </div>
</div> 

<hr class="border2">

    <div class="title">
        <h1>
            ACQUISTO VOUCHER
        </h1>
    </div>


    <div class="container1" >
     
       
        <div class="example" *ngFor="let item of GetAllDiscountsForPlayerOfCompanyList">

            <div id="categories">
                <a (click)="onClickForm(item)" limit=""  >
                    {{item.name}}
                   
                </a>
            </div>
            <footer class="footer1">
               <h3 class="text">
                   scopri di piu
               </h3>
           </footer>
        </div>




    </div>


    <!-- <div class="main">

        <div class="example2" *ngFor="let item of GetAllDiscountsForPlayerOfCompanyList">
            <div id="categories">

                <a [routerLink]="['/purchase']">
                    {{item.name}}


                </a>


            </div>
        </div> -->
