/* .container{
    width: 700px;
    height: 400px;
  
    color:whitesmoke;
    
    color: red;
    margin-top: 200px;
    }
    
    
    a{
     padding: 3px;

        font-size: 24px;
        display: block;
        text-align: center;
        text-decoration-style: wavy;
        
        
    }
    
    
    
    .example-full-width-centered{
        color: white;
    }
    
    
    #search{
        size: 20px;
        color: rgb(255, 0, 0);
    background-color: white;
    border-radius: 10%;
    }
    
    
    
    .example{
        display: inline-flex;
        
      padding: 10px;
        margin: 3px;
        
       
    
    }
    
    .example :hover{
        color:red;
        background-color: white;
    
    }
    .example-form{
        margin-left: 100px;
        
    }
    .example a{
        text-align: center;
        color: white;
        
    }
    
    
    .box{
        text-align: center;
    padding: 1px;


    border:2px solid  rgb(52, 52, 52);
    border-radius: 20%;
    text-decoration: none;
    text-align: center;
    background-color: rgb(94, 94, 94);
    
    width: 110px;
    height: 80px;
    grid-template-columns: 3;
 
    
    align-items: baseline;
    text-decoration: none;
    color:rgb(177, 177, 177);
      
    }
    
    .box :hover{
        color:green;
    }
    
    .invitation{
        display: flex;
        width: 300px;
        margin-top: 10%;
        margin-left: 40%;
    }
    
    
    .box1 a{
        text-align: center;
    color:red;
    background-color: red;
    }
    
    .example .box {
        
        text-align: center;
        margin-top: 20px;
        position: center;
    }
    
    
    .flex{
        display: flex;
    }
    
    .sign{
        margin-left: 50px;
        margin-top: 10px;
    }
    
    
    
    
    .text-left{
        color:rgb(41, 40, 40);
        font-family: fantasy;
        
    }
    .text-center{
        color: black;
        font-family:'Times New Roman', Times, serif
    }
    
    .vl {
        border-left: 3px solid rgb(5, 5, 5);
        height: 100px;
        margin-left: 5px;
      }
    
      .fa{
          color:white;
      }

      .hr{
          color:rgb(1, 1, 1);
          height: 2px;
      } */


      @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

.mainText {
  margin-top:65px;
  margin-left: 100px;
  text-align: left;
  font: normal normal bold 28px/35px Ubuntu;

  letter-spacing: 0.7px;
  color: #ffffff;
  text-shadow: 3px 3px 5px #0000001a;
  opacity: 1;
  box-shadow: #ffffff1a 1px;
}

.vl {
  border-left: 2px solid #ffffff;
  height: 80px;
  margin-left: 15px;
  margin-top: 65px;
}
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;

  
}


.form-group{

  width: 340px;
  height: 50px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 25px;
 display: flex;
  border: none;


}
.container1 {
  width: 344px;
  height: 50px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 25px;
  margin-top: 72px;
  margin-left: 20px;
  border: none;
}
.form {
  text-align: left;
  font: normal normal bold 18px/31px Ubuntu;
  letter-spacing: 0.45px;
  color: #cccccc;
  margin-left: 19px;
  display: flex;
  
}


#material{
    margin-left: 250px;

box-shadow: 0px 3px 10px #00000029;
border: 1px solid #FFFFFF;
opacity: 1;
width: 50px;
height: 49px;
border-radius: 50%;

}


.material-icons{
text-align: center;
margin-left: 9px;
margin-top: 9px;
font-size: 28px;
    
}
.search-btn{
  background-color: rgb(255, 255, 255);
  border-radius:25px;
border: none;

}
.form-control {
  margin-top: 3px;
  text-align: left;
  font: normal normal bold 18px/31px Ubuntu;
  letter-spacing: 0.45px;
  color: #ffffff;
  margin-left: 19px;
}



input {
  border: 0;
  outline: 0;
}
input:focus {
  outline: none !important;
}


/* .example{
margin-top: 35px;
width: 219px;
height: 80px;
border: 3px solid #E3BE60;
border-radius: 20px;
opacity: 1;
flex-direction: row;
text-align: center;
font: normal normal bold 25px/35px ;
letter-spacing: 1.25px;
position:relative;
opacity: 1;

} */

.image{
  width: 219px;
  height: 80px;
  border-radius: 20px;
  text-align: center;  
  opacity: 1;
flex-direction: row;
text-align: center;
position:relative;
border: 3px solid #E3BE60;
}





.text{
  margin-top: 25px;
  
}

#categories a{
position: relative;
display: inline-block;
color: #FFFFFF;

}


/* .example a{
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    display:inline-block;
} */




.main {
  margin-left: 100px;
  display:flex;
  flex-wrap: wrap;
  gap:20px;
  order:3;
  max-width: 700px;
}


.categoryName{

  color:#FFFFFF;
  width: 78px;
  height:28px;
  margin-left: 410px;
  font-size: 25px;

  align-self: center;
}





.main :hover{
transform: scale(1.05);
/* background-color: #ffffff;
color:#000 ; */
transition: 0.3s;
cursor:pointer black;

}






a{
  text-decoration: none;
  color: #cccccc;
  width: fit-content;
 
}


.border1{
    border: 2px solid;
opacity: 1;
width: 699px;
margin-left:100px;
margin-top: 35px;
color: #E3BE60;
text-align: center;
margin-bottom: 5px;
}




.flex{
  display: flex;
  flex-direction: row;
  align-self: start;

}
.border2{
border: 2px solid;
opacity: 1;
width: 699px;
margin-left:100px;
margin-top: 8px;
margin-bottom: 25px;
color: #E3BE60

}