
    <div class="flex">


        <div class="mainText">
            <h1 class="text-left">scegli il benefit per te<br>
                e la tua famiglia.</h1>
        </div>


        <div class="vl"></div>

        <div class="container1">
         
            <form action="/" method="GET" class="form">
                <input type="search" placeholder="Cerca Il tuo Benefit" class="search-field"/>
                <button type="submit" class="search-button">
                    <span class="material-icons">search</span>
                </button>
            </form>
        </div>


        <!-- <div class="sign">
            <a href="/home"> <i style="font-size:20px" class="fa" id="fa1">&#xf137; </i></a>
          </div> -->

    </div>

    <hr class="border1">
   <div *ngfor="let item of items">

   </div>
    <hr class="border2">

        <div class="main">
        <div class="example" *ngFor="let item of listinfo">
        <a class="text"[routerLink]="['/vouchers',item.id]" >
        {{item.shortName}}
        </a>         
        </div>
        </div>
        
   
    

                  