
    <div class="flex">


        <div class="mainText">
            <h1 class="text-left">scegli il benefit per te<br>
                e la tua famiglia.</h1>
        </div>


        <div class="vl"></div>

        <div class="container1">
            <form [formGroup]="search" (ngSubmit)="submit()" >
                <div class="form-group">
                <input type="text" formControlName="playerName" class="form-control" [(ngModel)]="searchText" placeholder="Cerca Il tuo Benefit" />
                <button type="submit" class="search-btn"> <span class="material-icons">search</span> </button>
                 </div>
            </form>
        </div>


        <!-- <div class="sign">
            <a href="/home"> <i style="font-size:20px" class="fa" id="fa1">&#xf137; </i></a>
          </div> -->

    </div>

    
    <hr class="border1">
    <div class="categoryName">
 {{parameterValue}}
    </div>

          
    <hr class="border2">

        <div class="main">
        <div class="example" *ngFor="let item of listinfo| filter:searchText">
        <a class="text" [routerLink]="['/vouchers',item.id,item.shortName]" >
        {{item.shortName}}
        <img [src]="getImage">
        </a>         
        </div>
        </div>
        
   


                  