<div class="invitation" *ngIf="notassigned">


    <form [formGroup]="invitationForm" (ngSubmit)="submit()">


        <div class="form-group ">
            <label>
                <h1>register here</h1>
            </label>
            <input type="string" class="form-control" formcontrolname="invitation" class="form-control" placeholder="invitation">
        </div>
        <button class="btn btn-warning " type="submit">send</button>
    </form>


</div>


<div *ngIf="assigned">

    

        <div class="flex">


            <div class="mainText">
                <h1 class="text-left">Scegli il benefit per te<br>
                    e la tua famiglia.</h1>
            </div>


            <div class="vl"></div>

            <div class="container1">
                <form [formGroup]="search" (ngSubmit)="submit()" >
                    <div class="form-group">
                    <input type="text" formControlName="playerName" class="form-control" [(ngModel)]="searchText" placeholder="Cerca Il tuo Benefit" />
                    <button type="submit" class="search-btn"> <span class="material-icons">search</span> </button>
                     </div>
                </form>
            </div>


            <!-- <div class="sign">
                <a href="/home"> <i style="font-size:20px" class="fa" id="fa1">&#xf137; </i></a>
              </div> -->

        </div>
<div >




    <div class="main"  *ngIf="playerShow">
        <div class="example" *ngFor="let item of listinfo | filter:searchText">
            <a class="text"[routerLink]="['/players',item.id,item.name]" >        
                {{item.name}}
                
            </a>
        </div>
    </div>  



<div class="main"  >
    <div class="example" *ngFor="let item of searchList ">
    <a class="text"[routerLink]="['/vouchers',item.id,item.shortName]" >        
    {{item.shortName}}
     </a>
    </div>
    </div>  



</div>



