 
<!-- <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">I MIEI BENEFITI</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">...</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Close
    </button>
   
  </div> -->
 


<div class="maincontainer">



    
    <div class="text-center">
        <h1> I MIEI BENEFITI</h1>
    </div>
    <div class="flex">
    <div class="container">

    </div>
    <div class="container">

    </div>
</div>
<div class="container1">


    <table class="table ">
        <thead >
          <tr>
            <th c scope="col">DATA ACQUISTO</th>
            <th scope="col">MERCHANT</th>
            <th scope="col">PREZZO</th>
            <th scope="col">METODO</th>
            <th scope="col">PUNTI</th>
            <th scope="col">CODICE</th>
            
          </tr>
        </thead>
       
        <tbody>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="2"></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      
</div>






</div>


 
