.container1{
    min-width: 200px;
    padding: 40px;
    margin-top: 50px;
}

.custom a{
    text-decoration: none;
    color: black;

}

@media screen and (max-width: 991px) {
    .container1{
    width: 500px;
    height: 500px;
    
    }
  }